VelibGateway-ClientConsole/Connected Services/VelibServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_testConnexion_InputMessage">
    <wsdl:part name="parameters" element="tns:testConnexion" />
  </wsdl:message>
  <wsdl:message name="IService_testConnexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:testConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_help_InputMessage">
    <wsdl:part name="parameters" element="tns:help" />
  </wsdl:message>
  <wsdl:message name="IService_help_OutputMessage">
    <wsdl:part name="parameters" element="tns:helpResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="testConnexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/testConnexion" message="tns:IService_testConnexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/testConnexionResponse" message="tns:IService_testConnexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="help">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/help" message="tns:IService_help_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/helpResponse" message="tns:IService_help_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testConnexion">
      <soap:operation soapAction="http://tempuri.org/IService/testConnexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="help">
      <soap:operation soapAction="http://tempuri.org/IService/help" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Service" binding="tns:Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/VelibService/velib" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>