VelibGateway-ClientConsole/Connected Services/VelibServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_TestConnexion_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnexion" />
  </wsdl:message>
  <wsdl:message name="IService_TestConnexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnexionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Contracts_InputMessage">
    <wsdl:part name="parameters" element="tns:Contracts" />
  </wsdl:message>
  <wsdl:message name="IService_Contracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CitiesInContract_InputMessage">
    <wsdl:part name="parameters" element="tns:CitiesInContract" />
  </wsdl:message>
  <wsdl:message name="IService_CitiesInContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:CitiesInContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StationsOfTheCity_InputMessage">
    <wsdl:part name="parameters" element="tns:StationsOfTheCity" />
  </wsdl:message>
  <wsdl:message name="IService_StationsOfTheCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:StationsOfTheCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NumberOfBikesAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfBikesAvailable" />
  </wsdl:message>
  <wsdl:message name="IService_NumberOfBikesAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfBikesAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClearCaches_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCaches" />
  </wsdl:message>
  <wsdl:message name="IService_ClearCaches_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCachesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="TestConnexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TestConnexion" message="tns:IService_TestConnexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TestConnexionResponse" message="tns:IService_TestConnexion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Contracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Contracts" message="tns:IService_Contracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ContractsResponse" message="tns:IService_Contracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CitiesInContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CitiesInContract" message="tns:IService_CitiesInContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CitiesInContractResponse" message="tns:IService_CitiesInContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StationsOfTheCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StationsOfTheCity" message="tns:IService_StationsOfTheCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StationsOfTheCityResponse" message="tns:IService_StationsOfTheCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberOfBikesAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NumberOfBikesAvailable" message="tns:IService_NumberOfBikesAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NumberOfBikesAvailableResponse" message="tns:IService_NumberOfBikesAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCaches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClearCaches" message="tns:IService_ClearCaches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClearCachesResponse" message="tns:IService_ClearCaches_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnexion">
      <soap:operation soapAction="http://tempuri.org/IService/TestConnexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Contracts">
      <soap:operation soapAction="http://tempuri.org/IService/Contracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CitiesInContract">
      <soap:operation soapAction="http://tempuri.org/IService/CitiesInContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StationsOfTheCity">
      <soap:operation soapAction="http://tempuri.org/IService/StationsOfTheCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberOfBikesAvailable">
      <soap:operation soapAction="http://tempuri.org/IService/NumberOfBikesAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCaches">
      <soap:operation soapAction="http://tempuri.org/IService/ClearCaches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Service" binding="tns:Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/VelibService/velib" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>